@charset "utf-8";
/*Página index.html*/
@media screen and (max-width: 568px) {
    .title_assistencia {
        text-decoration: underline #FF4600;
        text-align: center;
        margin: 2.5rem 0;
    }
}

@media only screen and (max-width: 594px) {
    body {
        width: 100%;
        background-color: #ffffff;
        color: rgba(0, 0, 0, 1);
    }
}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
        background-color: #ffffff;
        color: rgba(0, 0, 0, 1);
    }
}

@media only screen and (max-width: 474px) {
    .navbar-toggler {
        float: right;
        margin-left: 350px;
        margin-top: -150px;
    }
}

@media only screen and (max-width: 435px) {
    .navbar-toggler {
        float: right;
        margin-left: 320px;
        margin-top: -150px;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-toggler {
        float: right;
        margin-left: 300px;
        margin-top: -150px;
    }
}

@media only screen and (max-width: 392px) {
    .navbar-toggler {
        float: right;
        margin-left: 280px;
        margin-top: -120px;
    }
}


@media only screen and (max-width: 360px) {
    .navbar-toggler {
        float: right;
        margin-left: 250px;
        margin-top: -120px;
    }
}

@media only screen and (max-width: 340px) {
    .navbar-toggler {
        float: right;
        margin-left: 230px;
        margin-top: -120px;
    }
}

/*Inicio banner-wrapper*/
@media screen and (max-width: 568px) {
    .cards-wrapper {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }

    .authorized-logo {
        height: 15vw !important;
        max-height: 100%;
    }
}
/*Fim Página index.html*/

/*Area de atuação*/

@media only screen and (max-width: 1280px) {
    .lock2 {
        width: 300px;
    }
}

@media only screen and (max-width: 1280px) {
    .wrapper0, .wrapper1, .wrapper4 {
    margin-left: 40px;
    margin-right: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper0, .wrapper1, .wrapper4 {
    margin-left: 20px;
    margin-right: 20px;
    }
}

@media only screen and (max-width: 404px) {
    .wrapper0, .wrapper1, .wrapper4 {
    margin-left: 0px;
    margin-right: 0px;
    }
}
/*Fim area de atuação*/

/*Inicio gallery-block cards-gallery*/

@media screen and (max-width: 900px) {
    .gallery-block {
        width: 80%;
        margin: auto;
        top: 20%;
        left: 20%;
        transform: translate(15%, 0%);
        -webkit-transform: translate(15%, 0%);
        -moz-transform: translate(15%, 0%);
        -ms-transform: translate(15%, 0%);
        -o-transform: translate(15%, 0%);
    }
}

@media screen and (max-width: 767px) {
    .gallery-block {
        width: 80%;
        margin: auto;
        top: 20%;
        left: 20%;
        transform: translate(1%, 0%);
        -webkit-transform: translate(1%, 0%);
        -moz-transform: translate(1%, 0%);
        -ms-transform: translate(1%, 0%);
        -o-transform: translate(1%, 0%);
    }
}

/*Fim gallery-block cards-gallery*/

/*Página contato.html*/

@media screen and (max-width: 600px) {
    .btn-primary {
        background-color: #ff4600;
        text-align: center;
        border-radius: 12px;
        border: 2px solid #ff4600;
        padding: 14px 80px;
        color: #fff;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .btn-primary:focus {
        background-color: #ff4600;
        transition: background-color 1s;
        border: 2px solid #ff4600;
        transition: border 1s;
        color: #fff;
    }
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
        background-color: #ff4600;
        transition: background-color 1s;
        border: 2px solid #ff4600;
        transition: border 1s;
        color: #fff;
    }
}

@media screen and (max-width: 355px) {
    .btn-primary {
        background-color: #ff4600;
        text-align: center;
        border-radius: 12px;
        border: 2px solid #ff4600;
        padding: 14px 60px;
        color: #fff;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .btn-primary:focus {
        background-color: #ff4600;
        transition: background-color 1s;
        border: 2px solid #ff4600;
        transition: border 1s;
        color: #fff;
    }
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
        background-color: #ff4600;
        transition: background-color 1s;
        border: 2px solid #ff4600;
        transition: border 1s;
        color: #fff;
    }
}
/*Fim Página contato.html*/

/*Cookies*/

@media screen and (max-width: 600px) {
    .box-cookies {
        flex-direction: column;
        width: 97%;
    }
}

=======
@charset "utf-8";
/*Página index.html*/
@media screen and (max-width: 568px) {
    .title_assistencia {
        text-decoration: underline #FF4600;
        text-align: center;
        margin: 2.5rem 0;
    }
}

@media only screen and (max-width: 594px) {
    body {
        width: 100%;
        background-color: #ffffff;
        color: rgba(0, 0, 0, 1);
    }
}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
        background-color: #ffffff;
        color: rgba(0, 0, 0, 1);
    }
}

@media only screen and (max-width: 474px) {
    .navbar-toggler {
        float: right;
        margin-left: 350px;
        margin-top: -150px;
    }
}

@media only screen and (max-width: 435px) {
    .navbar-toggler {
        float: right;
        margin-left: 320px;
        margin-top: -150px;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-toggler {
        float: right;
        margin-left: 300px;
        margin-top: -150px;
    }
}

@media only screen and (max-width: 392px) {
    .navbar-toggler {
        float: right;
        margin-left: 280px;
        margin-top: -120px;
    }
}


@media only screen and (max-width: 360px) {
    .navbar-toggler {
        float: right;
        margin-left: 250px;
        margin-top: -120px;
    }
}

@media only screen and (max-width: 340px) {
    .navbar-toggler {
        float: right;
        margin-left: 230px;
        margin-top: -120px;
    }
}

/*Inicio banner-wrapper*/
@media screen and (max-width: 568px) {
    .cards-wrapper {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }

    .authorized-logo {
        height: 15vw !important;
        max-height: 100%;
    }
}
/*Fim Página index.html*/

/*Area de atuação*/

@media only screen and (max-width: 1280px) {
    .lock2 {
        width: 300px;
    }
}

@media only screen and (max-width: 1280px) {
    .wrapper0, .wrapper1, .wrapper4 {
    margin-left: 40px;
    margin-right: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper0, .wrapper1, .wrapper4 {
    margin-left: 20px;
    margin-right: 20px;
    }
}

@media only screen and (max-width: 404px) {
    .wrapper0, .wrapper1, .wrapper4 {
    margin-left: 0px;
    margin-right: 0px;
    }
}
/*Fim area de atuação*/

/*Inicio gallery-block cards-gallery*/

@media screen and (max-width: 900px) {
    .gallery-block {
        width: 80%;
        margin: auto;
        top: 20%;
        left: 20%;
        transform: translate(15%, 0%);
        -webkit-transform: translate(15%, 0%);
        -moz-transform: translate(15%, 0%);
        -ms-transform: translate(15%, 0%);
        -o-transform: translate(15%, 0%);
    }
}

@media screen and (max-width: 767px) {
    .gallery-block {
        width: 80%;
        margin: auto;
        top: 20%;
        left: 20%;
        transform: translate(1%, 0%);
        -webkit-transform: translate(1%, 0%);
        -moz-transform: translate(1%, 0%);
        -ms-transform: translate(1%, 0%);
        -o-transform: translate(1%, 0%);
    }
}

/*Fim gallery-block cards-gallery*/

/*Página contato.html*/
@media screen and (max-width: 594px) {
    .btn-primary {
        background-color: #ff4600;
        text-align: center;
        border-radius: 12px;
        border: 2px solid #ff4600;
        padding: 14px 80px;
        color: #fff;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .btn-primary:focus {
        background-color: #ff4600;
        transition: background-color 1s;
        border: 2px solid #ff4600;
        transition: border 1s;
        color: #fff;
    }
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
        background-color: #ff4600;
        transition: background-color 1s;
        border: 2px solid #ff4600;
        transition: border 1s;
        color: #fff;
    }
}

@media screen and (max-width: 355px) {
    .btn-primary {
        background-color: #ff4600;
        text-align: center;
        border-radius: 12px;
        border: 2px solid #ff4600;
        padding: 14px 60px;
        color: #fff;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .btn-primary:focus {
        background-color: #ff4600;
        transition: background-color 1s;
        border: 2px solid #ff4600;
        transition: border 1s;
        color: #fff;
    }
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
        background-color: #ff4600;
        transition: background-color 1s;
        border: 2px solid #ff4600;
        transition: border 1s;
        color: #fff;
    }
}
/*Fim Página contato.html*/

/*Cookies*/
@media screen and (max-width: 600px) {
    .box-cookies {
        flex-direction: column;
        width: 97%;
    }
}

>>>>>>> cf4e717cb2f8d90ec1323157f2f4753bcc9c728f
/*Fim cookies*/