@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

@font-face {
    font-family: 'arlon';
    src: url('../_fonts/Arlon-Regular.ttf');
}

/* Inicio main style */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --font-primary: "arlon", serif;
    --font-secundary: "Baloo Da 2", serif;
    --font-action: "Muli", serif;
}

/* Fim main style */

.caracteristicas {
    margin-bottom: 10px;
}